 /* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 300 to 800 */
h1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* theme configuration start */
body{
  font-size: calc(14px + 0.390625vw);
  font-family: monospace;
  font-family: "Nunito Sans", sans-serif;
  /* background-color: #7EC8E3; */
  box-sizing: border-box;
}
.underline1{
  background-color: #05445E;
}
.btn{
  border: 2px solid #05445E;
  color: #05445E;
}
.bg1-svg{
  background-image: url("./assets/wave3.svg");
}
.bg1-img{
  background-image: url("./assets/team.jpg");
}

.canvas-absolute{
  border: 15px solid #D4F1F4;
}
.bg-canvasone{
  background-color: #05445E;
}
.bg-canvastwo{
  background-color: #75E6DA;
}
.tch-container{
  /* background-color: #05445E; */
  /* color: white; */
}
/* theme configuration end */
h1 {
  font-size: 2.4rem;
  /* font-family: "DM Sans", sans-serif; */
  color: #050A30;
}
h2 {
  font-size: 1.8rem;
  /* font-family: "DM Sans", sans-serif; */
}
h3 {
  font-size: 1.7rem;
  /* font-family: "DM Sans", sans-serif; */
}
h4 {
  font-size: 1.5rem;
  /* font-family: "DM Sans", sans-serif; */
}

/* font styling end  */

/* nav bar styling  */
.embla {
  overflow: hidden;
} 
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
body{
  margin: 0px;
  padding: 0px;
}
/* hero component start  */
.flexComponent-contain-bg{
  background-position: right;
}
.flexReverseComponent-contain-bg{
  background-position: left;
}
.flexReverseComponent-contain-bg,.flexComponent-contain-bg{
  
  /* margin-top: 100px; */
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
 }
.heroR{
  background-image: url("./assets/waved.svg");
}
.heroS{
  background-image: url("./assets/wavec.svg");
}
.hero-bg-svg{
  min-height: 100vh;
  height: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-content-container{
  padding: 10px;
  width: 50%;
}
.hero-content{
    height: fit-content;
}
.underline1{
  width: 100px;
  height: 3px;
  border-radius: 3px;
}
.btn{
  font-size: 20px;
}
.btn:hover{
  scale: 1.05;
}
.hero-img-container{
  width: 50%;
  min-height: 100%;
}
.hero-bg-img{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  width: 80%;
  margin-bottom: 5px;
}
.bg1-svg{
  background-image: url("./assets/wave3.svg");
}
.bg1-img{
  background-image: url("./assets/team.jpg");
}

/* hero component end  */
.card{
  width: 350px;
  box-shadow: rgba(17, 35, 177, 0.2) 0px 2px 8px 0px;
}
.flex-card-container{
  background-image: url("./assets/wavee.svg");

}
/* flex card component end */
/* flex image card start  */
.fic{
  max-width: 500px;
  min-width: 500px;
  flex-direction: row;
  height: fit-content;
}
.flex-img-w{
  max-width: 40%;
}
.flex-content-w{
  width: 60%;
}
.flex-img-w img{
  width: 100%;
}
.flex-content-w>div{
  height: 100%;
}
/* flex image card end  */

/* icon component start  */
/* .tech-section{
  min-height: 100vh;
  margin-bottom: 100px;
  padding-top: 100px;
} */
.tch-container{
  padding: 50px;
  height: fit-content;
  overflow: hidden;
  height: 100%;
}
.tech-section{
  background-image: url("assets/wavee.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.icon-container{
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.icon-container img{
  max-width: 60px;
  aspect-ratio: 3/2;
  object-fit: contain;
}
/* icon component end  */
.canvas-container{
  height: 100vh;
  padding-top: 100px;
  position: relative;
}
.canvas-absolute{
  width: 75%;
  height: 200px;
  position: absolute;
  top: 300px;
  left: 12.5%;
}
.counter-h1{
  font-size: 4.8rem;
}
footer{
  max-width: 100%;
}


@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2.2rem;
    font-family: "DM Sans", sans-serif;
  }
  .btn{
    font-size: 15px;
  }
  .fic{
    max-width:70%;
    min-width: 70%;
  }
  .navbar-container{
    position: absolute;
    top: 7px;
    right: 0px;
    padding: 0px;
    height: 0px;
    min-width: 100%;
  }
  .navbar-container ul{
    min-width: 100%;
    padding: 40px;
    background-color: black;
    opacity: .9;
    z-index: 2;
  }
  /* navbar style end  */
  .canvas-container{
    height: 100vh; 
    position: relative;
  }
  .canvas-absolute{
    width: 90%;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 5%;
  }
  .counter-h1{
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 700px) {
  .hero-bg-svg{
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-around;
  }
  .heroR{
    flex-direction: column-reverse;
  }
  .heroS{
    flex-direction: column;
  }

  .hero-content-container{
    padding: 10px;
    width: 100%;
  }
  .hero-content{
    width: 100%;
    min-height: 50%;
  }
  .hero-img-container{
    min-width: 100%;
  }
  .hero-bg-img{
    min-height: 250px;
  }
  .canvas-absolute{
    min-height: 270px;
    top: 400px;
  }
  .fic{
    flex-direction: column;
  }
  .flex-img-w, .flex-content-w{
    min-width: 100%;
  }
  .canvas-absolute{
    max-height: 250px;
    top: 250px;
  }
}